*
.*

!assets/
!assets/**/*

!docs/
!docs/**/*.md
!docs/**/*.html
!docs/**/.nojekyll

!properties/
!properties/**/*.json

!scripts/
!scripts/**/*

!.editorconfig
!.eslintrc.js
!.gitignore
!.prettierrc.js
!config.json
!index.js
!LICENSE
!package.json
!README.md
